* {
    font-family: 'Open Sans', sans-serif;
}
body {
    background: #fff6ed;
    transition: all 0.2s ease;
    min-width: 14rem;
}
body.loading {
    pointer-events: none;
    opacity: 0.5;
}
.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.formGroup {
    display: flex;
    flex-direction: column;
}
.flex {
    display: flex;
    gap: 0.5rem;
}
.currURL {
    
}
input {
    margin-top: 0.25rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #d5d2d2;
    font-size: 1rem;
    min-width: 0;
}
label {
    font-size: 0.75rem;    
}
button {
    background: linear-gradient(to right, #239cae 50%, #f98012 50%);
    background-size: 200% 100%;
    background-position: 100%;
    padding: 0.75rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 1rem;
    transition: all 0.2s ease;
}
button:hover {
    filter: brightness(0.85);
    cursor: pointer;
}
.info {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}
.info h1 {
margin-top: 0rem;
}
